<div class="container">
  <h1><%= "#{@company.name.capitalize} Dashboard" %></h1>
  <h2>Settings</h2>
  <div class="row">
    <div class="col-6">
      <h3>Channel Settings</h3>
      <p>Channel Location: </p>
      <p>Channel Category: </p>
      <p>Privacy Settings: </p>
      <p>Outdated Content Alerts</p>
    </div>
    <div class="col-6">
      <h3>Account Settings</h3>
      <p><%= link_to("Company Account Info", view_company_info_path) %></p>
      <p>Name: </p>
      <p>Permissions: </p>
      <p>Users: </p>
      <p>Payment Method:</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="content_navbar">
    <h2>Your Content</h2>
    <btn>drafts</btn>
    <btn>published</btn>
    <btn><%= link_to("Create Tutorial", tutorials_create_path) %></btn>
  </div>
  <div class="row">
    <% if @all_finished_tutorials != nil %>
      <% @all_finished_tutorials.each do |tutorial| %>
        <div class="col-4 thumbnail">
        <img class="thumbnail__image" src="http://lorempixel.com/200/150/"
        <%= link_to(tutorial.title, tutorials_path(tutorial.id)) %><br>
        <%= tutorial.description %><br>
        <%= link_to("Edit", tutorials_edit_path(tutorial.id)) %> 
        <%= link_to "Delete", delete_tutorial_path(tutorial.id), method: :delete, data: { confirm: "Are you sure you want to delete the tutorial: #{tutorial.title}?" } %>
        </div>
      <% end %>
    <% end %>  
  </div>
  <div class="row">
    <% if @all_tutorial_drafts != nil %>
      <% @all_tutorial_drafts.each do |tutorial| %>
        <div class="col-4 thumbnail">
        <img class="thumbnail__image" src="http://lorempixel.com/200/150/cats"
        <%= link_to(tutorial.title, tutorials_path(tutorial.id)) %><br>
        <%= tutorial.description %><br>
        <%= link_to("Edit", tutorials_edit_path(tutorial.id)) %> 
        <%= link_to "Delete", delete_tutorial_path(tutorial.id), method: :delete, data: { confirm: "Are you sure you want to delete the tutorial: #{tutorial.title}?" } %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<style>

.thumbnail {
  margin: 0 0 10px 0;
}

.thumbnail__image {
  display: block;
}
</style>

<!-- Hiding these for now since we initially had them visible 

<%= image_tag("#{@current_user.user_image_check}", size: "75") %>
<%= link_to("#{@current_user.first_name.capitalize} #{@current_user.last_name.capitalize}", edit_user_registration_path) %>
<%= image_tag("#{@company.image_check}", size: "250") %>
 <%= "#{@company.name.capitalize} Dashboard" %>

<p> <%= @company.bio %> </p>

-->



<%= link_to("Invite/Add New Users", invite_users_path(session[:company_username])) %><br>

