<div class="container">
  <div class="page-header">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>
  </div>
  <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.password_field :current_password, autocomplete: "off" %>
      <i>(we need your current password to confirm your changes)</i>
    </div>

    <div class="field">
      <%= f.email_field :email, autofocus: true %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off" %>
      <i>(leave blank if you don't want to change it)</i>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.text_field :first_name %>
    </div>

    <div class="field">
      <%= f.text_field :last_name %>
    </div>

    <div class="field">
      <%= f.file_field :profile_image, autofocus: true %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>
  <br>

  <%= link_to "Back", :back, :class => "btn btn-default" %>
</div>