<h1>Create Tutorial</h1>

<%= form_for :new_tutorial do |f| %>
  Video: <%= f.file_field :video %><br />
  <%= radio_button_tag(:privacy, "1") %>
  <%= label_tag(:privacy_1, "Public") %><br />
  <%= radio_button_tag(:privacy, "2") %>
  <%= label_tag(:privacy_2, "Private") %><br />
  Category: <%= f.select :category, [['CATEGORY1', 1], ['CATEGORY2', 2], ['CATEGORY3', 3], ['CATEGORY4', 4], ['CATEGORY5', 5]] %><br />
  Title: <%= f.text_field :title %><br />
  Description : <%= f.text_area :description %><br />
  <%= f.submit %>
<% end %>

