<div class="container">
  <div class="page-header">
    <h1>Create Tutorial</h1>
  </div>

  <%= bootstrap_form_for  @new_tutorial, url: tutorials_create_confirmation_path(@new_tutorial.id) do |f| %>

  <% if @new_tutorial.errors.full_messages.any? %>
    <% @new_tutorial.errors.full_messages.each do |error_message| %>
      <%= error_message %> <br />
    <% end %>
  <% end %>
  <br><br>
  <div class="container">
    <%= f.file_field :video %>
    <%= f.select :category, [['CATEGORY1', 1], ['CATEGORY2', 2], ['CATEGORY3', 3], ['CATEGORY4', 4], ['CATEGORY5', 5]] %>
    <%= f.text_field :title %>
    <%= f.text_area :description %>
    <%= f.check_box :public %>
    <%= f.check_box :draft %>
    <%= f.submit %>
  <% end %>
  </div>
</div>


