NEED SEPARATE LINKS FOR UPDATING VIDEO. FOR NOW SHOULD JUST VE VIEWABLE HERE

<%= form_for  @edit_tutorial, :url => tutorials_edit_confirmation_path(@edit_tutorial.id) do |f| %>
  <% if @edit_tutorial.errors.full_messages.any? %>
     <% @edit_tutorial.errors.full_messages.each do |error_message| %>
      <%= error_message %> <br />
    <% end %>
  <% end %>
  <br><br>

  Category: <%= f.select :category, [['CATEGORY1', 1], ['CATEGORY2', 2], ['CATEGORY3', 3], ['CATEGORY4', 4], ['CATEGORY5', 5]] %><br />
  Title: <%= f.text_field :title %><br />
  Description:<br /> <%= f.text_area :description %><br />
  Public: <%= f.check_box :public %><br />
  Draft: <%= f.check_box :draft %><br />
  <%= f.submit %>
<% end %>
<br><br>


<h3> Chapters </h3>
<% @chapters.each do |chapter| %>
  <%= link_to("Edit Chapter #{chapter.title}", chapters_edit_path(@edit_tutorial.id, chapter.id)) %><br>
<% end %>

<br><br>
<%= link_to("+", chapters_create_path(@edit_tutorial.id)) %>

<br><br>
<p><%= link_to("Done", tutorials_finished_editing_path(@edit_tutorial.id)) %></p>