<h1>View Tutorial for <%= @tutorial.title %></h1>
<%= video_tag("#{@tutorial.video}", controls: true, autobuffer: true, id: "video") %>


<div>
  <% @chapters.each_with_index do |chapter, index| %>
    <% @warning_count = 0 %>
        <ul> Chapter <%= (index + 1) %> <%= ": #{chapter.title}" %> <br> </ul>
        <% chapter.steps.each_with_index do |step, step_index| %>
          <% if step.warning == false %>
              <li> Step <%= step_index + 1 - @warning_count %> <%= ": #{step.title}" %> <br></li>
          <% else %>
            <% @warning_count += 1 %>
           <li> WARNING! <%= " #{step.title}" %><br> </li>
          <% end %>
        <% end %>
        <br><br>
  <% end %>
</div>
<br>
