<div class="container">

  <div class="page-header tutorial_info">
    <h1><%= @tutorial.title %> 
      <small> 
          <%=  @tutorial.get_category_notice %>
          <%= @tutorial.get_privacy_notice %>
      </small></h1>
  </div>

  <div class="well well-lg">
    <%= @tutorial.description %>
  </div>


  <div>
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">Tutorial Content Overview</a></li>
       <% @chapters.each_with_index do |chapter, index| %>
      <li role="presentation" value="<%= index %>"><a href="#" class="showChapterTab">Chapter <%= (index + 1) %></a></li>
        <% end %>
    </ul>
  </div>



  <div id= "chapterTitlesAndDescriptions">
    <% @chapters.each_with_index do |chapter, index| %>
      <% chapter_presenter = ChapterPresenter.new(chapter, index) %>
      <%= chapter_presenter.content %><br>
      <%= chapter_presenter.get_description %><br>
     <% end %>
  </div>


  <% @chapters.each_with_index do |chapter, index| %>
  <% chapter_presenter = ChapterPresenter.new(chapter, index) %>
  <div id="chapterContentDisplay<%= index %>" class="chapterContentDisplay">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Chapter:<%= (index + 1) %> "<%= chapter_presenter.chapter_name %>"</div>
    <div class="panel-body">
      <p><i><%= chapter_presenter.get_description %></i></p>
    </div>
    
    <!-- List group -->
    <ul class="list-group">
    <% chapter.steps.order(:start_time).each do |step| %>
    <% step_presenter = StepPresenter.new(step, chapter) %>
      <li class="list-group-item"><%= step_presenter.content %></li>
    <% end %>
    </ul>
  </div>
    <% end %>
  </div>


    <div>

        <h1> Chapter Table of Contents </h1>
      <% @chapters.each_with_index do |chapter, index| %>
        <ul>  <% chapter_presenter = ChapterPresenter.new(chapter, index) %>
        <a href="#" class="videoPlayerTrigger" value=<%= chapter_presenter.get_start_time() %>> <%= chapter_presenter.content %>
        <p style="display: none" class="chapterEndTime"><%= chapter_presenter.get_end_time() %></p></a>
        <% chapter.steps.order(:start_time).each do |step| %>
        <% step_presenter = StepPresenter.new(step, chapter) %>
          <li>
            <a href="#"class="videoPlayerTrigger" value=<%= step_presenter.get_start_time() %>><%= step_presenter.content %> <%= step_presenter.get_percentage_left_in_chapter %><br>
            <p style="display: none" class="stepEndTime"><%= step_presenter.get_end_time() %></p></a>
           <% end %>
         </li>
        </ul>
      <% end %>

    </div>
  
  <video id="view-video" class="video-js" controls preload="auto" width="640" height="264" poster="http://dummyimage.com/640x264/000/fff" data-setup="{}">

    <source src=<%= "#{@tutorial.video}"%> type='video/mp4'>

    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>

  </video>
  <br>
  <br>






<h1> Instructions </h1>
<h1> Chapter Table of Contents </h1>
<% @chapters.each_with_index do |chapter| %>
  <% chapter.steps.order(:start_time).each do |step| %>
  <% step_presenter = StepPresenter.new(step, chapter) %>
   <ul> <%= step_presenter.content %>   </ul>
    <li class="Chapter#{index + 1}StepDescriptions"> <input type="checkbox" name="chapter#{chapter.id}Step#{step.id}">
      <%= step_presenter.get_description() %>
  <% end %>
     </li>
<% end %>

</div>