<div class="container">


<div class="tutorial_info"> 
  <h1><%= @tutorial.title %></h1>
  <%= @tutorial.get_privacy_notice %><br>
   <%=  @tutorial.get_category_notice %> <br>
  <%= @tutorial.description %><br><br>
</div>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>

<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>


<div id= "chapterTitlesAndDescriptions">
  <% @chapters.each_with_index do |chapter, index| %>
    <% chapter_presenter = ChapterPresenter.new(chapter, index) %>
    <%= chapter_presenter.content %><br>
    <%= chapter_presenter.get_description %><br>
   <% end %>
</div>
  
  <video id="view-video" class="video-js" controls preload="auto" width="640" height="264" poster="http://dummyimage.com/640x264/000/fff" data-setup="{}">

    <source src=<%= "#{@tutorial.video}"%> type='video/mp4'>

    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>

  </video>
  <br>
  <br>


<h1> Chapter Table of Contents </h1>
<% @chapters.each_with_index do |chapter, index| %>
  <ul>  <% chapter_presenter = ChapterPresenter.new(chapter, index) %>
  <a href="#" class="videoPlayerTrigger" value=<%= chapter_presenter.get_start_time() %>> <%= chapter_presenter.content %>
  <p style="display: none" class="chapterEndTime"><%= chapter_presenter.get_end_time() %></p></a>
  <% chapter.steps.order(:start_time).each do |step| %>
  <% step_presenter = StepPresenter.new(step, chapter) %>
    <li>
      <a href="#"class="videoPlayerTrigger" value=<%= step_presenter.get_start_time() %>><%= step_presenter.content %> <%= step_presenter.get_percentage_left_in_chapter %><br>
      <p style="display: none" class="stepEndTime"><%= step_presenter.get_end_time() %></p></a>
     <% end %>
   </li>
  </ul>
<% end %>



<h1> Instructions </h1>
<h1> Chapter Table of Contents </h1>
<% @chapters.each_with_index do |chapter| %>
  <% chapter.steps.order(:start_time).each do |step| %>
  <% step_presenter = StepPresenter.new(step, chapter) %>
   <ul> <%= step_presenter.content %>   </ul>
    <li class="Chapter#{index + 1}StepDescriptions"> <input type="checkbox" name="chapter#{chapter.id}Step#{step.id}">
      <%= step_presenter.get_description() %>
  <% end %>
     </li>
<% end %>

</div>