<div class="container">
  <div class="page-header">
    <h1> Create Company </h1>
  </div>
  <!-- Below is the form for creating a company. It passes in params to be assigned such as the desired url path, profile image, name, username, description of the company, address, suite/apt if there is one, city, state, and zipcode.  -->
  <%= bootstrap_form_for  @new_company, url: companies_create_confirmation_path do |f| %>
  <!-- Searches for any errors in the entry of information and displays a message for the user to address before they continue. -->
    <% if @new_company.errors.full_messages.any? %>
       <% @new_company.errors.full_messages.each do |error_message| %>
        <%= error_message %> <br />
      <% end %>
    <% end %>
    <br><br>
    <!-- Takes in new information for the fields and stores them in the database for the user. -->
    <%= f.file_field :profle_image %>
    <%= f.text_field :name %>
    <%= f.text_field :username, :required => true, :placeholder=>'Page Location.'%> ex: www.fyiio.com/THIS_TEST_IS_WHAT_IS_SET<br />
    <%= f.text_area :bio, :value => 'No information available.' %>
    <%= f.text_field :address_1 %>
    <%= f.text_field :address_2 %>
    <%= f.text_field :city %>
    <%= f.text_field :state %>
    <%= f.text_field :zip %>
    <!-- submits the changes to the database -->
    <%= f.submit %>
  <% end %>
</div>
