<h1> Edit <%= @edit_company.name %> </h1>

<%= link_to image_tag("#{@image}"), update_company_image_path %><br><br><br>
<%= form_for  @edit_company, :url => update_company_confirmation_path do |f| %>
  Company Name: <%= f.text_field :name %><br />
  URL Name: <%= f.text_field :username, :required => true, :placeholder=>'Page Location.'%><br />
  Description:<br /> <%= f.text_area :bio %><br />
  Address: <%= f.text_field :address_1 %><br />
  Suite/Apt#: <%= f.text_field :address_2 %><br />
  City: <%= f.text_field :city %><br />
  State: <%= f.text_field :state %><br />
  Zip Code: <%= f.text_field :zip %><br />
  <%= f.submit 'Update' %>
<% end %>

