<div class="container">
  <div class="page-header">
    <h1><%= @company.name %> </h1>
  </div>
  <%= image_tag("#{@company.image_check}") %><br><br>
  <%= @company.bio %><br><br>

  Address:<%= @company.address_1 %><br>

  <% if @company.address_2 != nil %>
    Suite#:<%= @company.address_2 %><br>
  <% end %>

  City, State. ZIP: <%= "#{@company.city}, #{@company.state}. #{@company.zip}" %><br>
  URL: <%= "www.fyiio.com/#{@company.username}.com" %><br><br>

  <%= link_to("Edit Company Information", edit_company_path) %><br>
</div>