<h1>New Step</h1>
  <video id="my-video" class="video-js" controls preload="auto" width="640" height="264" poster="http://dummyimage.com/640x264/000/fff" data-setup="{}">

    <source src=<%= "#{@tutorial.video}"%> type='video/mp4'>

    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>

  </video>
  <br>
  <br>
  <button id="setStepStartTime" class="startTime" > Set Video Start Time </button>
  <button id="setStepEndTime" class="endTime" > Set Video End Time </button>


<%= form_for @chapter, url: steps_create_confirmation_path(@tutorial.id, @chapter.id), method: :post do |f| %>
  <% if !@new_steps.empty? %>
    <% @new_steps.each do |step| %>
    <%  if step.errors.full_messages.any? %>
      <% step.errors.full_messages.each do |error_message| %>
      <%= error_message %> <br />
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <br><br>
  <%= f.fields_for :steps, [Step.new]*3 do |step| %>
    Title: <%= step.text_field :title %><br />
    Draft: <%= step.check_box :draft %><br />
    Warning: <%= step.check_box :warning %><br />
    Description:<br /> <%= step.text_area :description %><br />
    Start Time: <%= step.text_field :start_time %><br />
    End Time: <%= step.text_field :end_time %><br /><br /><br />
    <% end %>
  <%= f.submit 'Create' %>
  <% end %>





