<h1>New Step</h1>
  <video id="my-video" class="video-js" controls preload="auto" width="640" height="264" poster="http://dummyimage.com/640x264/000/fff" data-setup="{}">

    <source src=<%= "#{@tutorial.video}"%> type='video/mp4'>

    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>

  </video>
  <br>
  <br>
  <button id="setStepStartTime" class="startTime" > Set Video Start Time </button>
  <button id="setStepEndTime" class="endTime" > Set Video End Time </button>


<%= form_for @chapter, url: steps_create_confirmation_path(@tutorial.id, @chapter.id), method: :post do |f| %>
  <% if !@new_steps.nil? && !@new_steps.empty? %>
    <% @new_steps.each do |step| %>
    <%  if step.errors.full_messages.any? %>
      <div id="error_explanation">
      <br><%= pluralize(step.errors.count, "error") %> 
          prohibited this step from being saved: <br>
            <ul>
      <% step.errors.full_messages.each do |error_message| %>
        <li><%= error_message %></li>
        </ul>
    </div>
      
    <%= f.fields_for :step, step do |step| %>
    Title: <%= step.text_field :title %><br />
    Draft: <%= step.check_box :draft %><br />
    Warning: <%= step.check_box :warning %><br />
    Description:<br /> <%= step.text_area :description %><br />
    Start Time: <%= step.text_field :start_time %><br />
    End Time: <%= step.text_field :end_time %><br /><br /><br />
    <%= f.submit 'Create' %>
    <% end %>

        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <br><br>

  <%= submit_tag "Add Another Step", :type => 'button', :id => 'addStep', 
          :onclick => 'addStepField()' %> 
   
 
  <div id="stepHeader" style="display:none">Step information:  </div>
   
 
  <ul id="myList">
  </ul>

  <div class="actions">
    <%= f.submit "Create Steps" %>
  <div>
<% end %>









