<%= link_to ("Return to Chapter: #{@chapter.title}", chapters_edit_path(@tutorial.id, @chapter.id)) %><br><br>
<h1>Edit Step</h1>.
<h3> For <%= @chapter.title %></h3>
<%= form_for @edit_step, :url => steps_edit_confirmation(@tutorial.id, @chapter.id, @edit_step.id) do |f| %>
  Title: <%= f.text_field :title %><br />
  Description:<br /> <%= f.text_area :description %><br />
  Start Time: <%= f.text_field :start_time %><br />
  End Time: <%= f.text_field :end_time %><br />
  Draft: <%= f.check_box :draft %><br />
  <%= f.submit 'Update' %>
<% end %>
<br><br>
<%= link_to "Delete", delete_step_path(@tutorial.id, @chapter.id, @edit_step.id), method: :delete,
                                  data: { confirm: "Are you sure you want to delete this step?" } %>

<br><br>

<%= link_to ("Done", tutorials_path(@tutorial.id)) %>