<h1>Edit Step</h1>.
<h3> For <%= @chapter.title %></h3>

<%= form_for @edit_step, :url => "update/confirmation" do |f| %>
  Title: <%= f.text_field :title %><br />
  Description:<br /> <%= f.text_area :description %><br />
  Start Time: <%= f.text_field :start_time %><br />
  End Time: <%= f.text_field :end_time %><br />
  Draft: <%= f.check_box :draft %><br />
  <%= f.submit %>
<% end %>

