
<div>
<h1>Search results!</h1>
  <div> 
    <%= form_tag("/search", method: "get") do %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>
  <% @results.each do |result| %>
    <p><%= link_to(result.title, "/tutorials/#{result.id}") %></p>
    <a href="#" class="previewLink">Preview</a>
    <div class="previewWindow" style="display: none"> 
      Description: 
      <%= result.description %>
      <br>
    Number of Chapters:
    <%= result.chapters.count %>
      <br>

    </div>
  <% end %>
</div>
