
<div>
<h1>Search results!</h1>
  <div> 
    <%= form_tag("/search", method: "get") do %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>
  <% @results.each do |result| %>
    <div class="results"><%= link_to(result.title, "/tutorials/#{result.id}") %></div>
    <div class="previewWindow" style="display: none"> 
      Description: 
      <%= result.description %>
      <br>
      Number of Chapters:
      <%= result.chapters.count %>
      <br>

    </div>
  <% end %>
</div>
