
<div>
<h1>Search results!</h1>
  <div> 
    <%= form_tag("/search", method: "get") do %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>
  <div class="results_present">
  Categories 
    <% @tutorials.limit(6).each do |category| %>
      <%= category.category %>
  <% end %>
  </div>
  <div class="resultsContainer">
  <% @results.each do |result| %>
     <div class="results"><%= link_to(result.title, "/tutorials/#{result.id}") %>
    <a href="#" class="previewLink">PreviewThing</a>
    </div>
    <div class="previewWindow" style="display: none"> 
    </div>
  <% end %>
  </div>
</div>
