<h1>New Chaper</h1>
<h3> For <%= @tutorial.title %></h3>

<%= form_for  @new_chapter, :url => "create/confirmation" do |f| %>
  Title: <%= f.text_field :title %><br />
  Description:<br /> <%= f.text_area :description %><br />
  Start Time: <%= f.text_field :start_time %><br />
  End Time: <%= f.text_field :end_time %><br />
  Draft: <%= f.check_box :draft %><br />
  <%= f.submit %>
<% end %>

