  <h1>New Chapter</h1>.
  <h3> For <%= @tutorial.title %></h3>
  <video id="my-video" class="video-js" controls preload="auto" width="640" height="264" poster="http://dummyimage.com/640x264/000/fff" data-setup="{}">

    <source src=<%= "#{@tutorial.video}"%> type='video/mp4'>

    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>

  </video>
  <br>
  <br>
  <button id="setChapterStartTime" class="startTime" > Start </button>
  <button id="setChapterEndTime" class="endTime" > end </button>


<%= form_for  @new_chapter, url: chapters_create_confirmation_path(@tutorial.id, @new_chapter.id) do |f| %>
  <% if @new_chapter.errors.full_messages.any? %>
    <% @new_chapter.errors.full_messages.each do |error_message| %>
      <%= error_message %> <br />
    <% end %>
  <% end %>
  <br><br>
  Title: <%= f.text_field :title %><br />
  Description:<br /> <%= f.text_area :description %><br />
  Draft: <%= f.check_box :draft %><br />
  <%= f.hidden_field :start_time, :value => "0" %><br />
  <%= f.hidden_field :end_time, :value => "0"%><br />
  <%= f.submit 'Create'%>
<% end %>

