<h1>Edit Chapter</h1>.
<h3> For <%= @tutorial.title %></h3>

<%= form_for  @edit_chapter, url: chapters_edit_confirmation_path(@tutorial.id, @edit_chapter.id) do |f| %>
  Title: <%= f.text_field :title %><br />
  Description:<br /> <%= f.text_area :description %><br />
  Start Time: <%= f.text_field :start_time %><br />
  End Time: <%= f.text_field :end_time %><br />
  Draft: <%= f.check_box :draft %><br />
  <%= f.submit %>
<% end %>

<br><br>

 <%= link_to("Add New Step", steps_create_path(@tutorial.id, @edit_chapter.id)) %>

 <br><br>

<% @steps.each do |step| %>
  <%= link_to("Edit Step #{step.title}", steps_edit_path(@tutorial.id, @edit_chapter.id, step.id)) %>
  <br>
<% end %>

<br><br>
  <%= link_to "Delete Chapter", delete_chapter_path, method: :delete, data: { confirm: "Are you sure you want to delete the chapter: #{@edit_chapter.title}? It has #{@steps.count} steps." } %>