<br>
<%= link_to("Back to " + @tutorial.title, "/tutorials/#{@tutorial.id}") %>
<h1>Tutorial view: <%= @tutorial.title %></h1>
<h2>Chapter view: <%= @chapter.title %></h2>
<% if @chapter.draft == true %>
  <p>This is in Draft Status</p>
<% else %>
<% end %>
<p>Chapter Description: <%= @chapter.description %></p>

<h2>View the steps:</h2>
<ol>
  <% @steps.each do |step| %>
    <li><%= step.title %>
      <p><%= step.description %></p>
      <% if step.draft == true %>
        <p>Draft Step is in Draft Status</p>
      <% else %>
      <% end %>
    </li>
    <br>
  <% end %>
</ol>




   <%= link_to "Delete", delete_chapter_path, method: :delete,
                                  data: { confirm: "Are you sure you want to delete this chapter and all steps related?" } %>