<br>
<%= link_to("Back to " + @tutorial.title, "/tutorials/#{@tutorial.id}") %>
<h1>Tutorial view: <%= @tutorial.title %></h1>
<h2>Chapter view: <%= @chapter.title %></h2>
<% if @chapter.draft == true %>
  <p>This is in Draft Status</p>
<% else %>
<% end %>
<p>Chapter Description: <%= @chapter.description %></p>

<h2>View the steps:</h2>
<div>
  <% @steps.each do |step| %>
    <% if step.warning == true %>
      <p>WARNING! <%= step.title %></p>
      <p><%= step.description %></p>
    <% else %>
      <% @counter +=1 %>
      <p>Step <%= @counter %>: <%= step.title %></p>
      <p><%= step.description %></p>
    <% end %>
  <% end %>

</div>

    <%= link_to "Delete", delete_chapter_path, method: :delete, data: { confirm: "Are you sure you want to delete the chapter: #{@chapter.title}? It has #{@steps.count} steps." } %>

