<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <div id="toolbar">
    <a href="/">Home</a>
    <a href="/discover">Discover</a>
    <a href="/about">About</a>
    <% if user_signed_in? %>
      <%= link_to('Dashboard', "/#{session[:company_username]}/dashboard") %>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    <% else %>
      <%= link_to('Sign In', new_user_session_path) %>
      <%= link_to('Create Account', "/companyInvites/authentication")  %>  
    <% end %>
  </div>
  <%= render "flashes" -%>
  <%= yield %>
  <%= render "javascript" %>
  <%= render "css_overrides" %>
</body>
</html>
