<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <div id = "toolbars" class = "row">
  <div class = "col-2 center"><%= link_to("Home", "/")%></div>
  <div class = "col-2 center"><%= link_to("Discover", discover_path)%></div>
  <div class = "col-2 center"><%= link_to("About", about_path) %></div>
  <% if user_signed_in? %>
    <div class = "col-2 center"><%= link_to('Dashboard', "/#{session[:company_username]}/dashboard")%></div>
    <div><%= link_to('Logout', destroy_user_session_path, :method => :delete)%>
    </div>
  <% else %>
    <div class = "col-2 center"><%= link_to('Sign In', new_user_session_path)%></div>
    <div class = "col-2 center"><%= link_to('Create Account', "/companyInvites/authentication")%>
    </div>
  <% end %>

</div>
  <%= render "flashes" -%>
  <%= yield %>
  <%= render "javascript" %>
  <%= render "css_overrides" %>
</body>
</html>
