<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" 
    src='//cdn.tinymce.com/4/tinymce.min.js'>
  </script>
  <script type="text/javascript">
    tinymce.init({
      selector: '#step_description',
      theme: 'modern',
      width: 600,
      height: 200,
      menubar: false,
      plugins: [
        'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
        'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
        'save table contextmenu directionality emoticons template paste textcolor'
      ],
      content_css: 'css/content.css',
      toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons'
    });
  </script>

</head>
<body class="<%= body_class %>">
<nav class="navbar navbar-inverse">
  <div class="container">
    <div id = "toolbars" class = "row">

      <%= link_to("Discover", discover_path, :class => "btn btn-default navbar-btn btn pull-left")%>
      

      <% if user_signed_in? %>
        <div>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => "btn btn-default navbar-btn pull-right pull-right") %>

        </div>

        <div>
          <%= link_to('Dashboard', "/#{session[:company_username]}/dashboard", :class => "btn btn-info navbar-btn pull-right")%>
        </div>

        
      <% else %>
        <div>
          <%= link_to('Sign In', new_user_session_path, :class => "btn btn-default navbar-btn btn pull-right")%>
        </div>

        <div>
          <%= link_to('Create Account', "/companyInvites/authentication", :class => "btn btn-default navbar-btn btn pull-right")%>
        </div>
      <% end %>
    </div>
  </div>
</nav>
  <div class="container">
    <%= render "flashes" -%>
  </div>

  <%= yield %>

  <div class="panel-footer">
    <%= link_to("Home", "/", :class => "btn btn-default pull-left")%> 
    <%= link_to("About", about_path, :class => "btn btn-default pull-left") %>
  </div>
  <%= render "javascript" %>
  <%= render "css_overrides" %>
</body>
</html>

